div{
    background-color: red;
    width: 300px;
    height: 200px;
    box-shadow: inset 0px -90px 0px 40px black;
    filter:drop-shadow(10px 0px 0px blue)
}

body{
    height: 500px;
    width: 500px;
}