header, footer{
    background-color: rgb(174,0,1);
    color : white;
    display: flex;
    align-content: center;
    justify-content: center;
}

body{
    margin : 0;
}

.link{
    background-color: rgb(238, 186, 47);
    display:flex;
    justify-content: space-around;
}

h1{
    display: flex;
    align-content: center;
    justify-content: center;
}

.texte p{
    display:flex;
    justify-content: center;
    text-align:center
}