img{
  width: 200px;
  animation-duration: 11s;
  animation-name: slidein;
  animation-iteration-count: 3;
  animation-fill-mode: forwards;
}

@keyframes slidein {
  0% {
    margin-left: 0px;
    transform: rotate(0deg);
  }  
  9% {
    margin-left: 200px;
    transform: rotate(360deg);
  }
  36% {
    margin-left : 200px;
    margin-top: 300px;
    transform: rotate(360deg);
  }
  100% {
    margin-left: 0px;
    margin-top: 0px;
    transform: rotate(360deg);
  }
}