.linear-gradient {
    background: linear-gradient(to bottom right, red, yellow);
    border-radius : 8px;
    width: 500px;
    height: 900px;
    display : flex;
    align-items : center;
}

img{
  text-align: center;
  margin : auto;
}