body{
    height: 100vh;
    display : flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin : 0;
}

button{
    background-color: red;
    color : white;
    border-radius: 10px;
    width: 300px;
    height: 100px;
    transition-duration: 1s;
}

button:hover{
    background-color: gold;
    opacity: 70%;
    color : black;
    transition-duration: 1s;
}